@media (max-width: 1160px) {
	.about-us__advantage {
		margin-bottom: 60px;
	}
}

@media (max-width: 1024px) {
	.about-us__advantage {
		margin-bottom: 80px;
	}
}

@media (max-width: 768px) {
	.about-us__advantage {
		margin-bottom: 40px;
	}
}