.modal {
	margin: 40px 0;
	display: inline-block;
	vertical-align: middle;
	cursor: default;
	text-align: left;
	white-space: normal;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-timing-function: ease-in-out;
}

.modal-open {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 768px) {
	.modal {
		padding-left: 15px;
		padding-right: 15px;
	}
}