.advantage__img {
	width: 100px;
	height: 100px;
	margin-right: 40px;
}

@media (max-width: 768px) {
	.advantage__img {
		margin-right: 30px;
	}
}

@media (max-width: 640px) {
	.advantage__img {
		width: 60px;
		height: 60px;
		margin-right: 0;
		margin-bottom: 10px;
	}
}